:root {
  --primary: #b30000;
  --dark: #121212;
  --gray: #f4f4f4;
}

body {
  font-family: Arial;
  margin: 0;
  background: var(--gray);
  transition: 0.3s;
}

header {
  background: var(--primary);
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 40px;
}

.hamburger {
  font-size: 28px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background: #1e1e1e;
  color: white;
  padding: 20px;
}

.sidebar div {
  margin: 15px 0;
  cursor: pointer;
}

.hidden {
  display: none;
}

section {
  padding: 40px;
}

.divisi-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

.detail-box {
  background: white;
  padding: 25px;
  border-radius: 10px;
}

.detail-box img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

button {
  background: var(--primary);
  color: white;
  border: none;
  padding: 8px 12px;
  margin-top: 10px;
  cursor: pointer;
}

/* DARK MODE */

body.dark {
  background: var(--dark);
  color: white;
}

body.dark .divisi-card,
body.dark .detail-box {
  background: #1e1e1e;
}
